.logo {
	float: left;
}

.title {
	float: right;
	margin-top: 30px;
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;
}

.filter {
	padding-left: 40px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.fields {
	margin-top: 5px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.search {
	margin: auto;
	width: 275px;
}

.search input[type="text"] {
	padding: 5px;
	margin-top: 50px;
	margin-left: 20px;
	font-size: 15px;
}

.search button[type="button"] {
	position: relative;
	top: -5px;
	right: 5px;
	padding: 15px 15px;

	background: url(resources/search_icon.png) no-repeat;
	background-size: 100%;
	border-width: 1px;
	border-style: solid solid solid none;
	cursor: pointer;
}

.results {
	padding-top: 70px;
}

.all_courses {
	margin: auto;
	border-collapse: collapse;
}

.course_name {
	text-align: center;
	padding: 12px;
	border: 2px solid black;
	font-size: 20px;
}

.course_desc {
	text-align: center;
	padding: 12px;
	border-width: 2px;
	border-style: solid none;
	border-color: black;
	font-size: 20px;
}

.add_course {
	padding: 0px 50px;
	border-width: 2px;
	border-style: solid solid solid none;
	border-color: black;
}

.add_course button[type="submit"] {
	border: none;
	background-color: #65b8fc;
	font-size: 16px;
	padding: 20px 40px;
	font-family: Georgia, "Times New Roman", Times, serif;
	cursor: pointer;
}
.add_course button[type="submit"]:hover {
	background-color: #17609c;
}

.label {
	text-align: left;
	font-size: 16px;
}
